<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Tifinagh Converter
    </title>
</head>
<body>
    <header> 
        <section class="logo">
            <h1 class="logo-title">
                Convertisseur Latin → Tifinagh
            </h1>
        </section>
    </header>

    <main>
        <form method="POST">
            <textarea name="message"></textarea>
            <button type="submit"> 
                Convertir 
            </button>
        </form>
    </main>
</body>
</html>